@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('iconfont.ttf?t=1653291535453') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 0.5rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: '\f016d';
}
