@font-face {
  font-family: 'iconfont'; /* Project id 3420613 */
  src: url('iconfont.woff2?t=1653291299452') format('woff2'),
    url('iconfont.woff?t=1653291299452') format('woff'),
    url('iconfont.ttf?t=1653291299452') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 0.4rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-outlined:before {
  content: '\e612';
}

.icon-jiangbei:before {
  content: '\e6aa';
}

.icon-gushi:before {
  content: '\e6b3';
}

.icon-message:before {
  content: '\e787';
}
