.audio {
  width: 100%;
  height: 100%;
}

/* 清除格式 */
h3,
h4 {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
}

.room-card-draw {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  height: 6em;
  overflow: hidden;
  border-radius: 0.5em;
  background-color: #f8f8f8;
}

/* RoomCard左边的图片 */
.room-card-draw img {
  width: 6em;
  height: 6em;
  border-radius: 0.5em;
}

/* RoomCard中间的详细信息 */
.room-card-draw .detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-card-draw .detail-info h3 {
  font-size: 1.5em;
}

.room-card-draw .detail-info h4 {
  font-size: 1.1em;
}

.room-card-draw .detail-info .keywords {
  color: #dc143c;
}

/* RoomCard右边的价格 */
.room-card-draw .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.room-card-draw .price h3 {
  font-size: 1.6em;
  font-weight: 700;
}

/* 字体颜色 */
.room-card-draw .detail-info h3,
.room-card-draw .price h3 {
  color: #373737;
}

.room-card-draw .detail-info h4,
.room-card-draw .price h4 {
  color: #969696;
}
